/* Border box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: $background;
	color: $text-subdued;
}

/* typography */

html {
    font: 18px Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	font-family: Georgia;
}