/* Border box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: $background;
	color: $text-subdued;
}

/* typography */

html {
    font: 20px Lato;
    font-weight: 300;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	font-family: Georgia;
	font-weight: normal;
}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}

a {
	color: $link-color;
	text-decoration: none;

	@include subtle;

	&:focus, &:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}

em {
	background: $light-yellow;
	padding: 0.2rem;
}