@mixin screen-reader {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

@mixin punchy {
	transition: all 0.2s ease-in;

	&:hover, &:focus {
		transition: all 0s ease-in;		
	}
}

@mixin block-grid($items) {
	display: block;

	list-style: none;
	padding: 0;
	// margin-bottom: 0;

	li, .block-grid__item {
		display: block;
		float: left;
		position: relative;

		margin: 0;
		padding: 0;

		width: 100%/$items;
		padding-bottom: 100%/$items;
	}
}