/* colors */
$background: black;
$background-light: #fff;
$background-transparent: rgba(0,0,0,0.5);
$yellow: #FAFD4A;
// $yellow: #FDFF76;
$light-yellow: #ffffdd;

$text: #333;
$text-subdued: rgba(255,255,255,0.5);
$text-white: white;
$text-yellow: $yellow;
$selection-color: #b4d5fe;

$link-color: #337ab7;
$link-hover-color: #23527c;

/* fonts */
$serif: 'Crimson Text';
$sans: 'Open Sans';

/* breakpoints */
$md: 740px;