/* colors */
$background: black;
$background-light: #fff;
$background-transparent: rgba(0,0,0,0.5);
$yellow: #FAFD4A;
$light-yellow: #ffffdd;

$text: #333;
$text-subdued: rgba(255,255,255,0.5);
$text-white: white;