.button {
	display: block;

	background: $background;
	padding: 1rem;
	color: $yellow;
	font-weight: 300;
	font-family: $sans;
	text-align: center;
	cursor: pointer;

	border: 0;

	@include punchy;

	&:hover, &:focus {
		background: $yellow;
		color: $text;
		text-decoration: none;

		transform: scale(1.1);
	}

	&:active {
		transform: scale(0.9);
	}
}

	.button--contrast {
		background: $yellow;
		font-weight: normal;
		color: $text;
	}

	.button--inline {
		display: inline-block;
	}