.content {
	@include span(8);

	// padding: gutter() gutter();
	margin-top: 0;

	list-style: none;
	font-weight: normal;

	a {
		// @include linkUnderlines($background-light, $text);

		&:hover {
			// @include linkUnderlines($background-light, $link-hover-color);
			// text-decoration: none;
		}
	}
}

	.content--full {
		@include span(12 nest);
	}

	.content--right {
		@include push(4);
	}

	.content--contiguous-bottom {
		margin-bottom: 0;
	}

	.content--contiguous-top {
		margin-top: 0;
	}
