.content {
	@include span(full);
	@include prefix(1);
	@include suffix(1);

	@include breakpoint($md) {
		@include span(6);
		@include push(1);
		padding: 0;
	}
	margin-top: 0;

	list-style: none;
	font-weight: normal;

	// padding: 0 5rem;

	a {
		// @include linkUnderlines($background-light, $text);

		&:hover {
			// @include linkUnderlines($background-light, $link-hover-color);
			// text-decoration: none;
		}
	}
}

	.content--full {
		@include span(12 nest);
		@include push(0);
		margin: 0;
		padding: 0;
	}

	.content--right {
		@include breakpoint($md) {
			@include span(8);
			@include push(4);
		}
	}

	.content--contiguous-bottom {
		margin-bottom: 0;
	}

	.content--contiguous-top {
		margin-top: 0;
	}

	.content--contrast {
		background: $light-yellow;
	}

.content__image {
	width: span(6 of 6 wide);
	// margin-left: - span(1 of 6 wide) - 2 * gutter(6 wider);
	// margin-left: - span(1 of 6) - gutter(6);
}
