.definition-table {
	margin: 0 auto;
	width: 100%;
}

.definition-table__term,
.definition-table__def {
	padding: 0 .5rem;
	vertical-align: top;
}

.definition-table__term {
	text-align: right;
	width: 50%;
}

.definition-table__def {
	text-align: left;
}