.footer {
	@include span(8);
	@include push(2);
	
	display: block;
	position: relative;
	
	text-align: center;
}

.footer__link {
	color: white;
	opacity: 0.5;
	text-decoration: none;

	&:hover, &:focus {
		color: white;
		opacity: 1;
		text-decoration: none;
	}
}

.footer__image {
	vertical-align: middle;
}