.header {
	@include span(12 nest);
	background-image: url(img/header/bg.png);
    background-size: 300px 300px;

    padding: 2rem 0;
    text-align: center;

    @include breakpoint($md) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

	.header--jumbo {
		@include breakpoint($md) {
			padding: 150px 2rem;
			height: 600px;
		}
		padding: 75px 0;
		height: 4*75px;
	}

	.header--bleed {
		position: relative;
	    background-size: cover;
	    background-position: center top;
	    background-attachment: scroll;
	    z-index: -2;

	    &:before {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			background: rgba(0,0,0,0.4);
			z-index: -1;
		}
	}

	.header__title {
		font-size: 3rem;
		@include breakpoint($md) {
			font-size: 6rem;
		}
		color: $yellow;
	}

	.header__logo {
		margin: 0 auto;
		background: $background;

		max-width: 100%;
		@include breakpoint($md) {
			width: 75px * 10;
		}
	}