.navigation {
	@include span(full nest);
	font-family: $serif;
	overflow: hidden;
}

.navigation__hamburger {
	@include breakpoint($md) {
		display: none;
	}
}

.navigation__list {
	padding: 0;
	margin: 0;

	// display: none;
	// @include breakpoint($md) {
		display: block;
	// }
}

.navigation__item {
	float: left;
	display: block;

	color: $yellow;
	text-decoration: none;
	text-align: center;

	width: 100%;
	@include breakpoint($md) {
		width: auto;
	}

	a {
		display: block;
		padding: 3em;

		color: inherit;
		text-decoration: inherit;

		@include punchy;
	}

	&.current-menu-item a,
	&.current_page_parent a,
	a:focus,
	a:hover {
		transform: scale(1.2);
		background: $yellow;
		color: $text;
	}

	a:active {
		transform: scale(0.8);
	}
}