.person {
	@include block-grid(4);
	@include span(12 isolate);
	// margin-left: - gutter() - 0.1%;
	margin-top: 0;
}

	.person--small {
		@include block-grid(6);
	}

.person__item {
	background-size: cover;
	background-image: url(img/members/generic.jpg);
}

	.person__item--link {
		background-image: url(img/members/you.png);

		@include punchy;

		&:hover, &:focus {
			transform: scale(1.2);
		}

		&:active {
			transform: scale(0.8);
		}

		a {
			color: $text-white;

			&:hover, &:focus {
				color: $text-white;
				text-decoration: none;
			}
		}

		.person__content {
			padding-top: 95%;
			// bottom: 0;
			background: 0;
		}
	}

.person__content {
	position: absolute;
	text-align: center;

	width: 100%;
	bottom: 5%;

	background: $background-transparent;
	color: $text-white;
}

.person__name {
	// margin-bottom: 0;
	font-size: 1rem;
	margin: 0.5rem;
}

.person__role {
	margin: -0.5rem 0.5rem 0.5rem;
	font-weight: normal;
}