.sidebar {
	@include span(10);
	@include push(1);
	margin-bottom: span(1);
	@include breakpoint($md) {
		@include span(4);
		@include push(1);
		margin-bottom: gutter();
	}

	padding: 0 gutter() gutter();
	margin-top: 0;
	

	background: $light-yellow;

	font-weight: normal;
	text-align: center;
}

	.sidebar--left {
		@include breakpoint($md) {
			@include push(0);
			@include pull(12);
		}
	}

.sidebar__widget {
	display: block;
}