.sidebar {
	@include span(4);
	@include push(1);

	padding: 0 gutter() gutter();
	margin-top: 0;
	margin-bottom: gutter();

	background: $light-yellow;

	font-weight: normal;
	text-align: center;
}

	.sidebar--left {
		@include push(0);
		@include pull(10);
	}

.sidebar__widget {
	display: block;
}