.sidebar {
	@include span(4 isolate);
	padding: 0 gutter() gutter();
	background: $light-yellow;
	font-weight: normal;

	margin: gutter() 0;

	display: block;
	text-align: center;
	clear: right;
}

	.sidebar--left {
		// @include pull(8);
	}

.sidebar__widget {
	display: block;
}