.spotlight {
	@include span(12 nest);
	margin-bottom: gutter();

	text-align: center;
	text-decoration: inherit;
	font-weight: 300;
	color: $text-yellow;

	background-image: url(img/header/bg.png);
	background-size: cover;
	background-position: center center;

	&:hover, &:focus {
		text-decoration: inherit;
		color: $text-white;

		.spotlight__button {
			transform: scale(1.1);
			transition-duration: 0s;
		}
	}
}

	.spotlight--subtle {
		&:hover, &:focus {
			color: $text-yellow;
		}
	}

	.spotlight--half {
		@include span(6);
	}

	.spotlight--article {
		.spotlight__content {
			// margin-left: 0;
			margin-top: span(2);
			margin-bottom: span(1);
			// padding-left: span(1) + 2*gutter();
			// padding-right: span(1) + 2*gutter();

			@include span(6);
			@include push(1);
		}
	}

.spotlight__content {
	width: span(6 nest);
	// margin: 15rem auto 0;
	margin-top: span(4);
	margin-bottom: span(1);
	@include push(1);
	padding: 2rem;

	background: black;
}

.spotlight__button {
	@include punchy;
	display: inline-block;
}