.spotlight {
	@include span(12);
	margin: 0 0 gutter() 0;

	text-align: center;
	text-decoration: inherit;
	color: $text-yellow;

	background-image: url(img/header/bg.png);
	background-size: cover;
	background-position: center center;

	&:hover, &:focus {
		text-decoration: inherit;
		color: $text-white;

		.spotlight__button {
			transform: scale(1.1);
			transition-duration: 0s;
		}
	}
}

	.spotlight__content {
		width: span(6);
		margin: 15rem auto 0;
		padding: 2rem;

		background: black;
	}

	.spotlight__button {
		@include punchy;
		display: inline-block;
	}

	.spotlight--subtle {
		&:hover, &:focus {
			color: $text-yellow;
		}
	}